body {
    background-color: rgb(255, 255, 255);
    background-image: url(../Bilder/x3LA4iBackground-0ZHwra.jpg)
}

div {
    width: 60%;
    margin: 20px auto;
    padding: 20px 40px;
}

h1 {
    text-decoration: underline;
    font-style: italic;
}

.Fysikk {
    background-color: antiquewhite;
}

.MOL {
    background-color: aquamarine;
}

.IT {
    background-color: cornflowerblue;
}

.Matte {
    background-color: lightpink;
}

.Norsk {
    background-color: mediumpurple;
}

.Gym {
    background-color: yellow;
}

.Tid {
    background-color: red;
}

.Historie {
    background-color: rgb(208, 139, 220);
}

.lunsj {
    background-color: red;
}

.ingenting {
    background-color: rgb(156, 155, 155);
}

.fri {
    background-color: rgb(168, 168, 228);
}