.pakka {
    width: 1500px;
    height: 1000px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin-left: auto;
    margin-right: auto;
   
   

}

div {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 11.5px;

}

body {
    text-align: center;
    
}

.Zero {
    opacity: 0;
}

.ikkemetall {
    background-color: rgb(211, 68, 16);
    
}

.ikkemetall:hover{
transform: scale(1.2);
}

.alkalimetall {
    background-color: rgb(143, 70, 70);
}

.alkalimetall:hover{
    transform: scale(1.2);
}

.jordkalimetaller {
    background-color: rgb(158, 75, 236);
}

.jordkalimetaller:hover{
    transform: scale(1.2);
}

.andremetaller {
    background-color: rgb(234, 234, 9);
}

.andremetaller:hover{
    transform: scale(1.2);
}

.Halogen {
    background-color: rgb(206, 23, 23);
}

.Halogen:hover{
    transform: scale(1.2);
}

.Edelgasser {
    background-color: rgb(70, 91, 223);
}

.Edelgasser:hover{
    transform: scale(1.2);
}

.gasser {
    color: green;
}

.gasser:hover{
    transform: scale(1.2);
}

.desimaler{
    font-size: x-small;

}

.atomnummer{
    font-size: x-small;
    font-weight: bold;
}

.atomnummer:hover{
transform: scale(1.5);
}

.navn{
    font-size: xx-small;
    text-decoration: underline;
}

.tittel{
    text-align: center;
}
